
<html lang="en">
    <button mat-button class="mybutton" color="Accent" [routerLink]="'/register'"><h2>Register</h2></button>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div>
        <form [formGroup]="login">
            
        <mat-form-field  class="mat1"  appearance="outline" >
            <mat-label>Email</mat-label>
            <input matInput type="email"  formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="mat2"  appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password"   class="input"  formControlName="password" required>
        </mat-form-field>
      <button mat-button class="loginbutton" (click)="loginto()" color="warn"><h2>Login</h2></button>
       
    


</form>
    </div>
</body>
</html>