.body{

}
.content{
    margin-left: 20%;
}
.description{
    width: 30%;
 margin-left: 4%;
}
.firstpage{
    background-color: blue;
  width: 40%;
  height: 30%;
}
.image-slide{
  
}
img{
 
  width: 20%;
  height: 300px;
}