

<html lang="en">
    <button mat-button class="mybutton" color="Accent" [routerLink]="'/login'"><h2>Login</h2></button>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div>
    <form [formGroup]="register">
      
        <div class="container"  [class.mat-elevation-z2]="!isActive"
        [class.mat-elevation-z8]="isActive"> 
             <p>Register</p>
        <mat-form-field class="mat"  appearance="outline" >
            <mat-label>Firstname</mat-label>
            <input matInput type="text"  formControlName="firstname"   required>
        </mat-form-field><br><br>
          <mat-form-field class="mat"  appearance="outline">
            <mat-label>Lastname</mat-label>
            <input matInput type="text"  formControlName="lastname"  required>
        </mat-form-field><br><br>
        <mat-form-field  class="mat" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email"  required>
        </mat-form-field><br><br>
        <mat-form-field  class="mat"  appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password"  formControlName="password"  required>
        </mat-form-field><br><br>
    <button mat-button class="button" color="Accent"  class="butt" (click)="myregister()">Register</button>
    </div>

</form>
</div>
</body>
</html>