<html lang="en">
    <mat-toolbar class="tool" color="primary">
        <a mat-button [routerLink]="'/home'">Home</a>
        <a mat-button [routerLink]="'/content'">Services</a>
        <a mat-button [routerLink]="'/about'">About Us</a>
        <a mat-button [routerLink]="'/admin'">Admin</a>
        <a class="logout" mat-button (click)="logout()">Logout</a>
       
    </mat-toolbar>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="mytible">

        <div>
        <table mat-table  [dataSource]="datasourceimg" matSort>
            <ng-container matColumnDef="_id">
            <th class="info-table" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td class="info-table" mat-cell *matCellDef="let element">{{element._id}}</td>
        </ng-container>
        <ng-container matColumnDef="title" >
            <th  class="info-table" mat-header-cell *matHeaderCellDef mat-sort-header>title</th>
            <td class="info-table" mat-cell *matCellDef="let element">{{element.title}}</td>
        </ng-container>
        <ng-container matColumnDef="description">
         <th class="info-table" mat-header-cell *matHeaderCellDef mat-sort-header>description</th>
         <td class="info-table" mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th class="info-table" mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td class="info-table" mat-cell  *matCellDef="let element">
                <button (click)="deletefun(element._id)" mat-icon-button color="warn">
                    <mat-icon>Delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr  mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData;columns:columnsToDisplay"></tr>
        </table>
        <mat-paginator class="paging" [pageSizeOptions]="[2,5,10,25]" [pageSize]="5"></mat-paginator>

    </div>


        <table class="holetable" mat-table [dataSource]="contsource" matSort>

            <ng-container matColumnDef="_id">
                <th class="info-table" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td class="info-table" mat-cell *matCellDef="let element">{{element._id}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th class="info-table" mat-header-cell *matHeaderCellDef mat-sort-header>title</th>
                <td class="info-table" mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th class="info-table" mat-header-cell *matHeaderCellDef mar-sort-header>Action</th>
                <td class="info-table" mat-cell *matCellDef="let element">
                    <button (click)="deleteCon(element._id)" mat-icon-button color="warn">
                        <mat-icon>Delete</mat-icon>
                    </button>
                </td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay1"></tr>
          <tr mat-row *matRowDef="let myRowData;columns:columnsToDisplay1"></tr>
        </table>
        <mat-paginator class="paging" [pageSizeOptions]="[2,5,10,25]" [pageSize]="5"></mat-paginator>




        <table class="holetable" mat-table [dataSource]="aboutdata" matSort>
            <ng-container matColumnDef="_id">
                <th class="info-table" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td class="info-table" mat-cell *matCellDef="let element">{{element._id}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th class="info-table" mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                <td class="info-table" mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
            <ng-container matColumnDef="facebook">
                <th class="info-table" mat-header-cell *matHeaderCellDef mat-sort-header>facebook</th>
                <td class="info-table" mat-cell *matCellDef="let element">{{element.facebook}}</td>
            </ng-container>
            <ng-container matColumnDef="twitter">
                <th class="info-table" mat-header-cell *matHeaderCellDef mat-sort-header>twitter</th>
                <td class="info-table" mat-cell *matCellDef="let element">{{element.twitter}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th class="info-table" mat-header-cell *matHeaderCellDef mar-sort-header>Action</th>
                <td class="info-table" mat-cell *matCellDef="let element">
                    <button (click)="deleteAb(element._id)" mat-icon-button color="warn">
                        <mat-icon>Delete</mat-icon>
                    </button>
                </td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay2"></tr>
          <tr mat-row *matRowDef="let myRowData;columns:columnsToDisplay2"></tr>
        </table>
        <mat-paginator class="paging" [pageSizeOptions]="[2,5,10,25]" [pageSize]="5"></mat-paginator>


    </form>

  

</body>
</html>
